*{
    margin: 0;
    padding: 0;
}

h1.header{
    text-align: center;
}

h1{
    text-align: center;
    margin: 20px;
}

section{
    display: flex;
    background-color: rgb(110, 151, 141);
}

#content{
    padding: 10px;
    box-shadow: -4px 0px 1px rgba(0, 0, 0, 0.397);
    width: 100%;
}